@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(240, 1%, 22%);
    --dark--blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    background-color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

h1, h2, h3, h4 {
    margin: 0.75rem 0;
}

p {
    font-size: 15px;
    color: var(--light-grey);
    line-height: 25px;
}

a {
    color: var(--orange);
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--dark--blue);
    border-radius: 40px;
    width: 430px;
    height: 400px;
    margin: 5rem;
    padding: 2rem;
    justify-content: space-evenly;
}

.container2 {
    flex-direction: column;
    background-color: var(--dark--blue);
    border-radius: 40px;
    width: 430px;
    height: 400px;
    margin: 5rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    display: none;
}

.container2 h2, .container2 p{
    text-align: center;
}

.section {
    display: flex;
    justify-content: center;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--medium-grey);
    color: var(--orange);
    padding: 0.5rem 1rem;
    border-radius: 25px;
    margin: 1rem;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--medium-grey);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.circles {
    margin: 0.75rem 0;
    display: flex;
    justify-content: space-between;
}

.circle  {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: var(--light-grey);
    background-color: var(--medium-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle:hover {
    background-color: var(--orange);
    color: var(--white);
}

.circle:focus {
    background-color: var(--light-grey);
    color: var(--white);
}

button {
    width: 100%;
    border-radius: 20px;
    border: none;
    color: var(--white);
    background-color: var(--orange);
    padding: 0.75rem;
    letter-spacing: 3px;
    cursor: pointer;
}

button:active {
    background-color: var(--white);
    color: var(--orange);
}

.attribution {
    text-align: center;
}

@media screen and (max-width: 400px) {
    .container, .container2 {
        width: 350px;
        height: 400px;
    }
  }